<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PalabrasClave" value="UM0VqBBH,St7DSKO0,RGRMlymd,FeSIYEed,fDsvJqSU" />
    <add key="Url" value="http://www.castellanorest.web/api/Educacion"/>
  </appSettings>
</configuration>